<%- include('../partials/header') %>
<!-- END NAV -->
<div class="section">
    <div class="container">
        <div class="card">
            username : <%=user.username %>
        </div>
        <a href="/auth/signout" class="navbar-item button is-primary"> Logout</a>
    </div>
</div>

<%- include('../partials/footer') %>